# Limei by harunnoir
# SPDX-License-Identifier: GPL-3.0-or-later
# Colors: CC-BY-SA-4.0

ui_background_color #101010
ui_text_color #ada9a3

custom_background_color #101010
custom_text_color #ada9a3

text_highlight_color #97916f
visual_mark_color #9a7869
search_highlight_color #a38762

link_highlight_color #788184
synctex_highlight_color #8d818a

status_bar_color #171717
status_bar_text_color #837f78

startup_commands toggle_custom_color
